.App {
    text-align: center;
    height: 100vh;
    background-color: #99ffac;
    background-image: radial-gradient(
            at 65% 25%,
            hsla(237, 89%, 79%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 62% 48%, rgb(159, 239, 98) 0px, transparent 50%),
        radial-gradient(at 3% 2%, hsla(316, 89%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 31%, hsla(294, 63%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 20% 14%, hsla(192, 78%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 56% 13%, hsla(295, 72%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 73% 98%, rgb(254, 120, 180) 0px, transparent 50%);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
